<!DOCTYPE>
<html>
  <head>
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="./main.css">
  </head>
  <body>
      <div id="top_bar"> Andela Boot Camp </div>
      <div id="menu_bar"> My Journal Application (Group 4) </div>
          <div id = "menu">
                        <nav id="primary_nav_wrap">
              <ul>
                <li class="current-menu-item"><a href="index.html">Home</a></li>
                <li><a href="#">My Journals</a>
                </li>
                <li><a href="#">View Journal</a></li>
              </ul>

              </nav>

        </div>

      <div id = "body_controls">
      <% for(var i = 0; i < journal.length; i++) {%>
        <a href="/journal/<%= journal[i]%>"><%= journal[i]%></a>
      <% }%>
    </div>
  </body>
</html>