<!DOCTYPE>
<html>
  <head>
    <title>Add Journal</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="box">
      <div><h1>CREATE NEW JOURNAL ENTRY in <%= title %></h1></div>
      <form class="new-entry-form"] action="/journal/<%= title %>/create" method="get">
        <div class="row">
        <label for="title">Journal Title</label>

      
        <div class="row"><input placeholder="Enter entry Title" name="title" type="text" size="18" id="jentry"></div>
        </div>
        <div class="row">
        <label for="title">Description</label>
        <div value="Write a Journal Entry"><textarea name="body" rows="4" cols="50" id="desc"></textarea>
        </div>
        <input type="submit"></input>
      </form>
      
    </div>
  </body>

</html>