<!DOCTYPE>
<html>
  <head>
    <title>Index Page</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <div id="top_bar"> Andela Boot Camp </div>
      <div id="menu_bar"> My Journal Application (Group 4) </div>
          <div id = "menu">
                        <nav id="primary_nav_wrap">
              <ul>
                <li class="current-menu-item"><a href="index.html">Home</a></li>
                <li><a href="#">My Journals</a>
                </li>
                <li><a href="#">View Journal</a></li>
              </ul>

              </nav>

        </div>
      <div class="journal-area">
        <div class="journal-header">
          <%= header%>
        </div>
        <div class="journal-entries">
        <% for(var i = 0; i < entries.length; i++){%>
          <div class="journal-entry">
          <div><%= entries[i].title%></div>
            <div><%= entries[i].body%></div>

          </div>
        <% } %>
          <div class="journal-entry-last">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
  </body>
</html>